.image {
  width: 480px;
  height: 240px;
}

.wrapper {
  text-align: center;
}

.list {
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 56px;
  list-style-type: none;
  padding: 0;
}

.container {
  display: flex;
  margin-left: 20px;
}

.box {
  display: flex;
  margin-right: 20px;
}

.item {
  width: 120px;
  height: 56px;
}

@media screen and (max-width: 580px) {
  .image {
    width: 250px;
    height: 100px;
  }
}

@media screen and (max-width: 580px) {
  .list {
    flex-direction: column;
    align-items: center;
    width: 400px;
  }
}

@media screen and (max-width: 330px) {
  .image {
    margin-top: 50px;
    width: 250px;
    height: 100px;
  }
}

@media screen and (max-width: 330px) {
  .box {
    display: flex;
    margin-left: 20px;
  }
}